body {
  font-family: 'Roboto', sans-serif;
}

button {
  padding: 4px 16px;
  border-radius: 8px;
  border: 1px solid #ccc;
  background-color: #f0f0f5;
  color: #333;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

button:hover {
  border-color: #000000;
}
